/** Colored board squares as an embedded SVG */
og-board {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOng9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCA0IDQiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+PGcgaWQ9ImEiPjxnIGlkPSJiIj48ZyBpZD0iYyI+PGcgaWQ9ImQiPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNmMGQ5YjUiIGlkPSJlIi8+PHVzZSB4PSIxIiB5PSIxIiBocmVmPSIjZSIgeDpocmVmPSIjZSIvPjxyZWN0IHk9IjEiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNiNTg4NjMiIGlkPSJmIi8+PHVzZSB4PSIxIiB5PSItMSIgaHJlZj0iI2YiIHg6aHJlZj0iI2YiLz48L2c+PHVzZSB4PSIyIiBocmVmPSIjZCIgeDpocmVmPSIjZCIvPjwvZz48L2c+PHVzZSB5PSIyIiBocmVmPSIjYiIgeDpocmVmPSIjYiIvPjwvZz48L3N2Zz4=');
}

/** Interactive board square colors */
og-board square.move-dest {
  background: radial-gradient(rgba(20, 85, 30, 0.5) 22%, #208530 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
}
og-board square.premove-dest {
  background: radial-gradient(rgba(20, 30, 85, 0.5) 22%, #203085 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
}
og-board square.oc.move-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 0, 0.3) 80%);
}
og-board square.oc.premove-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.2) 80%);
}
og-board square.move-dest:hover {
  background: rgba(20, 85, 30, 0.3);
}
og-board square.premove-dest:hover {
  background: rgba(20, 30, 85, 0.2);
}
og-board square.last-move {
  background-color: rgba(155, 199, 0, 0.41);
}
og-board square.selected {
  background-color: rgba(20, 85, 30, 0.5);
}
og-board square.check {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 0, 0, 1) 0%,
    rgba(231, 0, 0, 1) 25%,
    rgba(169, 0, 0, 0) 89%,
    rgba(158, 0, 0, 0) 100%
  );
}
og-board square.current-premove {
  background-color: rgba(20, 30, 85, 0.5);
}

/** Alternating colors in rank/file labels */
.og-wrap.orientation-white coords.ranks coord:nth-child(2n),
.og-wrap.orientation-white coords.files coord:nth-child(2n),
.og-wrap.orientation-black coords.ranks coord:nth-child(2n + 1),
.og-wrap.orientation-black coords.files coord:nth-child(2n + 1) {
  color: #b58863;
}

.og-wrap.orientation-black coords.ranks coord:nth-child(2n),
.og-wrap.orientation-black coords.files coord:nth-child(2n),
.og-wrap.orientation-white coords.ranks coord:nth-child(2n + 1),
.og-wrap.orientation-white coords.files coord:nth-child(2n + 1) {
  color: #f0d9b5;
}
